window.HALT_AUTH_CONFIG = Object.freeze({
  cognitoRegion: "{{ cognito_region }}",
  userPoolClient: "{{ cognito_client_id }}",
  apiBaseUrl: "{{ api_gateway_url }}",
  intakeApiUrl: "{{ api_gateway_url }}/program-intake",
  agencyName: "{{ agency_name }}",
  programFullName: "{{ program_full_name }}",
});
